﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="CRM_AQUA.Default" %>


<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
<asp:ListView ID="listproduk" runat="server">
 <ItemTemplate>
 
        <div class="col-md-4">
         <div class="panel panel-default">
            <div class="panel-heading">No Produk <%# Eval("id_produk")%></div>
            <div class="panel-body">
            <center>
          <img src="images/<%# Eval("foto")%>" width="250px" height="200px" class="img-rounded">
          <br />Nama Produk <%# Eval("nama_produk")%><br />
          Harga Rp.<%# Eval("harga")%>
          </center>
        </div>
        </div></div>
</ItemTemplate>
   </asp:ListView>
</asp:Content>
