﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Admin.master.cs" Inherits="CRM_AQUA.Admin.Admin" %>


<!DOCTYPE html>
<html lang="en">
<head id="Head1" runat="server">
    <title>Customer Relation Management</title>
    <link href="../Styles/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../Styles/navbar-fixed-top.css" rel="stylesheet" type="text/css" />

    <asp:ContentPlaceHolder ID="HeadContent" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="Form1" runat="server">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Customer Relation Management</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="Default.aspx">Home</a></li>
            <li><a href="pelanggan.aspx">Data Pelanggan</a></li>
            <li><a href="Produk.aspx">Data Produk</a></li>
             <li><a href="Komplain.aspx">Data Komplain</a></li>
            <li><a href="Laporanpemesanan.aspx">Laporan Pemesanan</a></li>
            <li><a href="logout.aspx">Logout</a></li>
          </ul>
         
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
    <div class="container">
            <asp:ContentPlaceHolder ID="MainContent" runat="server"/>
     </div> <!-- /container -->
     <script src="../Scripts/jquery-1.4.1.js" type="text/javascript"></script>
     <script src="../Scripts/bootstrap.min.js" type="text/javascript"></script>
     
    <!-- Placed at the end of the document so the pages load faster -->
    
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    </form>
</body>
</html>
