﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin/Login.Master" AutoEventWireup="true" CodeBehind="Login.aspx.cs" Inherits="CRM_AQUA.Admin.Login1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

 <div class="login-page">
  <div class="form">
    
    <form class="login-form">
    <h2>Silahkan Login</h2>
    <asp:TextBox ID="username" runat="server" placeholder="username"></asp:TextBox>
    <asp:TextBox ID="password" TextMode="Password" runat="server" placeholder="password"></asp:TextBox>
    <asp:Button ID="btnLogin" runat="server" Text="Login" class="btn btn-success" 
        onclick="btnLogin_Click1" /> 
    </form>
  </div>
</div>
</asp:Content>
