﻿<%@ Page Title="" Language="C#" MasterPageFile="~/user/userPage.Master" AutoEventWireup="true" CodeBehind="Komplain.aspx.cs" Inherits="CRM_AQUA.user.Komplain" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">

<form>
  <div class="form-group">
    <label for="exampleInputEmail1">No Komplain</label>
      <asp:TextBox ID="no" runat="server" class="form-control"></asp:TextBox>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Keterangan</label>
      <asp:TextBox ID="keterangan" TextMode="MultiLine" runat="server" class="form-control"></asp:TextBox>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Id Pelanggan</label>
      <asp:TextBox ID="idpelanggan"  runat="server" class="form-control"></asp:TextBox>
  </div>
 <asp:Button ID="Kirim" runat="server" class="btn btn-info" Text="Finish" 
      onclick="Kirim_Click" />
</form>

<br /><br /><br />

 <asp:ListView ID="komplainList" runat="server">
            <LayoutTemplate>
                <table class="table table-bordered">
                    <thead>
                    <th class="info">No Komplain</th>
                    <th class="info">Keterangan</th>
                    <th class="info">Id Pelanggan</th>
                    <th class="info">Konfirmasi</th>
                    </thead>
                    <asp:PlaceHolder ID="itemPlaceHolder" runat="server" />
                </table>
                </LayoutTemplate>
             
            <ItemTemplate>
             
                <tr>
                    <td><%# Eval("no_komplain")%></td>
                    <td><%# Eval("keterangan")%></td>
                    <td><%# Eval("id_pelanggan")%></td>
                    <td><%# Eval("konfirmasi")%></td>
                </tr>
               
            </ItemTemplate>
        </asp:ListView>
</asp:Content>
